<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title th:text="|#{label.page.title.adminPanel} - #{label.page.title.main}|">admin panel - main</title>
    <!-- Favicons-->
    <link rel="icon" th:href="@{/images/favicon/favicon-32x32.png}" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/favicon/apple-touch-icon-152x152.png}">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/admin-style.css}" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link th:href="@{/css/custom/custom.css}" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/vendors/flag-icon/css/flag-icon.min.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/page-loader::loader"></div>
<header th:replace="fragments/header::header-admin"></header>
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <aside th:replace="fragments/left-sidebar-nav::left-sidebar-nav-admin"></aside>
        <!-- START CONTENT -->
        <section id="content">
            <!--start container-->
            <div class="container">
                <!--card stats start-->
                <div id="card-stats">
                    <div class="row">
                        <div class="col s12 m6 l4">
                            <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
                                <div class="padding-4">
                                    <div class="col s8 m8">
                                        <i class="material-icons background-round mt-5">account_balance</i>
                                        <p th:text="#{label.sidebar.nav.foundations}">foundations</p>
                                    </div>
                                    <div class="col s4 m4 right-align">
                                        <h5 class="mb-0" th:text="${institutionsCount}">N/A</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
                                <div class="padding-4">
                                    <div class="col s8 m8">
                                        <i class="material-icons background-round mt-5">perm_identity</i>
                                        <p th:text="#{label.sidebar.nav.users}">users</p>
                                    </div>
                                    <div class="col s4 m4 right-align">
                                        <h5 class="mb-0" th:text="${usersCount}">N/A</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                                <div class="padding-4">
                                    <div class="col s8 m8">
                                        <i class="material-icons background-round mt-5">card_giftcard</i>
                                        <p th:text="#{label.sidebar.nav.givenGifts}">given gifts</p>
                                    </div>
                                    <div class="col s4 m4 right-align">
                                        <h5 class="mb-0" th:text="${donationsCount}">N/A</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="card-stats">
                    <div class="row">
                        <div class="col s12 m6 l3">
                            <div class="card">
                                <div class="card-content cyan white-text">
                                    <p class="card-stats-title">
                                        <i class="material-icons">person_outline</i>
                                        <span th:text="#{label.page.newUsers}">new users</span>
                                    </p>
                                    <h4 class="card-stats-number" th:text="${newUsersCount}">N/A</h4>
                                    <p class="card-stats-compare">
                                        <span class="cyan text text-lighten-5"
                                              th:text="#{label.page.forLastMonth}">for last month</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="card">
                                <div class="card-content red accent-2 white-text">
                                    <p class="card-stats-title">
                                        <i class="material-icons">card_giftcard</i>
                                        <span th:text="#{label.page.newGifts}">new gifts</span>
                                    </p>
                                    <h4 class="card-stats-number" th:text="${newDonationsCount}">N/A</h4>
                                    <p class="card-stats-compare">
                                        <span class="red-text text-lighten-5"
                                              th:text="#{label.page.forLastMonth}">for last month</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="card">
                                <div class="card-content teal accent-4 white-text">
                                    <p class="card-stats-title">
                                        <i class="material-icons">open_with</i>
                                        <span th:text="#{label.page.newBags}">new bags</span>
                                    </p>
                                    <h4 class="card-stats-number" th:text="${newQuantityCount}">N/A</h4>
                                    <p class="card-stats-compare">
                                        <span class="teal-text text-lighten-5"
                                              th:text="#{label.page.forLastMonth}">for last month</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="card">
                                <div class="card-content deep-orange accent-2 white-text">
                                    <p class="card-stats-title">
                                        <i class="material-icons">account_balance</i>
                                        <span th:text="#{label.page.supportedFoundations}">supported foundations</span>
                                    </p>
                                    <h4 class="card-stats-number" th:text="${supportedInstitutions}">N/A</h4>
                                    <p class="card-stats-compare">
                                        <span class="deep-orange-text text-lighten-5"
                                              th:text="#{label.page.forLastMonth}">for last month</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--card stats end-->
                <!--work collections start-->
                <div id="work-collections">
                    <div class="row">
                        <div class="col s12">
                            <ul id="projects-collection" class="collection z-depth-1">
                                <li class="collection-item avatar">
                                    <div class="row row-flex">
                                        <div class="col s7">
                                            <i class="material-icons cyan circle">card_travel</i>
                                            <h6 class="collection-header m-0" th:text="#{label.table.givenGifts}">
                                                given gifts</h6>
                                            <p th:text="#{label.form.status.missed}">missed</p>
                                        </div>
                                        <div class="col s2">
                                            <h6 class="collection-header m-0" th:text="#{label.table.bags}">bags</h6>
                                        </div>
                                        <div class="col s3">
                                            <h6 class="collection-header m-0" th:text="#{label.table.foundation}">
                                                foundation</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="collection-item" th:each="donation : ${notReceivedDonations}">
                                    <div class="row row-flex">
                                        <div class="col s7">
                                            <p class="collections-title"
                                               th:text="|#{label.form.pickupAddress}: ${donation.street}, ${donation.zipCode} ${donation.city}|">
                                                pick up address</p>
                                            <p class="collections-content"
                                               th:text="|#{label.table.pickUpDateTime}: ${donation.pickUpDate} ${donation.pickUpTime}|">
                                                pick up date</p>
                                            <p class="collections-content"
                                               th:text="|#{label.form.phone}: ${donation.phone}|">
                                                phone</p>
                                        </div>
                                        <div class="col s2">
                                            <span th:if="${donation.quantity}==1" class="task-cat blue darken-2"
                                                  th:text="${donation.quantity}">N/A</span>
                                            <span th:if="${donation.quantity}==2" class="task-cat green darken-3"
                                                  th:text="${donation.quantity}">N/A</span>
                                            <span th:if="${donation.quantity}==3" class="task-cat amber darken-4"
                                                  th:text="${donation.quantity}">N/A</span>
                                            <span th:if="${donation.quantity}>3" class="task-cat red darken-1"
                                                  th:text="${donation.quantity}">N/A</span>
                                        </div>
                                        <div class="col s3">
                                            <p class="collections-title" th:text="${donation.institution.name}">
                                                foundation</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--work collections end-->

                <!-- //////////////////////////////////////////////////////////////////////////// -->
            </div>
            <!--end container-->
        </section>
        <!-- END CONTENT -->
    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<footer th:replace="fragments/footer::footer-admin"></footer>
<!-- ====================================== Scripts ====================================== -->
<!-- jQuery Library -->
<script type="text/javascript" th:src="@{/vendors/jquery-3.2.1.min.js}"></script>
<!--materialize js-->
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<!--scrollbar-->
<script type="text/javascript" th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" th:src="@{/js/plugins.js}"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" th:src="@{/js/custom-script.js}"></script>
</body>
</html>
