.error {
    color: red;
    font-size: 0.9rem;
    display: block;
    margin-left: 13px;
    margin-right: 10px;
}

.success {
    color: green;
    font-size: 16px;
    display: block;
}

.row-flex {
    display: flex;
    align-items: center;
}

nav .nav-wrapper {
    width: 100vw;
}

section.header--main-page {
    height: calc(100vh - 64px);
    display: flex;
}

.steps:before, .help:before {
    height: 50px;
    display: block;
    content: '';
}

form {
    padding: 0 !important;
}

#main-footer {
    padding-left: 0;
}

.login-page-fixed {
    position: fixed;
}

.row-flex > div:not(:first-child) {
    text-align: center;
}

.bg-opacity-8 {
    background-color: rgba(255, 255, 255, .8)
}

.login-bg {
    background-image: url(/images/gallary/flat-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

#forgot-password {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}

#forgot-password .card-panel.border-radius-6.forgot-card {
    margin-left: 0 !important
}

header .brand-logo {
    padding: 14px 20px;
}

header .brand-logo img {
    height: 35px;
}

form .form-group--checkbox label {
    font-size: 1.3rem;
    color: #000;
}

/*===========================================*/
/*Materialize CSS */
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #f17601;
    box-shadow: 0 1px 0 0 #f17601;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #f17601;
}

.input-field .prefix.active {
    color: #f17601;
}

.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color: #f16400;
}

.btn, .btn-large {
    background-color: #ff6f00;
}

.btn:hover, .btn-large:hover {
    background-color: #ff9700;
}

.btn-floating {
    background-color: #ff8601;
}

.btn-floating:hover {
    background-color: #ff8601;
}

.picker__date-display {
    background-color: #f17601;
}

.picker__close, .picker__today, .picker__clear {
    color: #f17601;
}

.picker__day.picker__day--today {
    color: #f17601;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    background-color: #f17601;
}

.clockpicker-canvas-bearing,
.clockpicker-canvas-bg,
.clockpicker-canvas-bg-trans {
    fill: #f17601;
}

.clockpicker-canvas line {
    stroke: #f17601;
}

.clockpicker-tick.active,
.clockpicker-tick:hover {
    background-color: rgba(241, 118, 1, 0.25);
}
/*===========================================*/
