<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title th:text="|#{label.page.title.userPanel} - #{label.page.title.main}|">user panel | main</title>
    <!-- Favicons-->
    <link rel="icon" th:href="@{/images/favicon/favicon-32x32.png}" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/favicon/apple-touch-icon-152x152.png}">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/admin-style.css}" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link th:href="@{/css/custom/custom.css}" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/vendors/flag-icon/css/flag-icon.min.css}" type="text/css" rel="stylesheet">
</head>
<body th:with="pageParam=${param.page},sizeParam=${param.size},sortByParam=${param.sortBy},ascParam=${param.asc},currentUrl='/user/donations'">
<div th:replace="fragments/page-loader::loader"></div>
<header th:replace="fragments/header::header-user"></header>
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <aside th:replace="fragments/left-sidebar-nav::left-sidebar-nav-user"></aside>
        <!-- START CONTENT -->
        <section id="content">
            <!--breadcrumbs start-->
            <div id="breadcrumbs-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col s10 m6 l6">
                            <h5 class="breadcrumbs-title" th:text="#{label.sidebar.nav.givenGifts}">given gifts</h5>
                            <ol class="breadcrumbs">
                                <li><a th:href="@{/user}" th:text="#{label.sidebar.nav.mainPanel}">main panel</a></li>
                                <li class="active" th:text="#{label.sidebar.nav.givenGifts}">given gifts</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs end-->
            <!--start container-->
            <div class="container">
                <!--work collections start-->
                <div class="divider"></div>
                <div id="work-collections">
                    <div class="row">
                        <h4 class="header col s12 m6 l6" th:text="#{label.page.listOfGifts}">list of gifts</h4>
                        <div class="col s12 m6 l6" style="margin-top: 17px;">
                            <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right"
                               th:href="@{/donations}">
                                <i class="material-icons left">add</i>
                                <span class="hide-on-small-onl" th:text="#{label.page.giveGiftBtn}">give gift btn</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <a class="btn-flat dropdown-button waves-effect right" href="#" data-activates="dropdownSize">
                            <i class="material-icons right">arrow_drop_down</i>
                            <span th:text="#{label.table.size}">size</span>
                        </a>
                        <ul id="dropdownSize" class="dropdown-content">
                            <li>
                                <a th:href="@{${currentUrl}(page=1,size=5,sortBy=${sortByParam}, asc=${ascParam})}"
                                   class="-text">
                                    5
                                </a>
                            </li>
                            <li>
                                <a th:href="@{${currentUrl}(page=1,size=10,sortBy=${sortByParam}, asc=${ascParam})}"
                                   class="-text">
                                    10
                                </a>
                            </li>
                            <li>
                                <a th:href="@{${currentUrl}(page=1,size=20,sortBy=${sortByParam}, asc=${ascParam})}"
                                   class="-text">
                                    20
                                </a>
                            </li>
                            <li>
                                <a th:href="@{${currentUrl}(page=1,size=50,sortBy=${sortByParam}, asc=${ascParam})}"
                                   class="-text">
                                    50
                                </a>
                            </li>
                        </ul>
                        <a class="btn-flat dropdown-button waves-effect right" href="#" data-activates="dropdownSortBy">
                            <i class="material-icons right">arrow_drop_down</i>
                            <span th:text="#{label.table.sort}">sort</span>
                        </a>
                        <ul id="dropdownSortBy" class="dropdown-content">
                            <li>
                                <a th:href="@{${currentUrl}(page=1,size=${sizeParam},sortBy='status', asc=false)}"
                                   class="-text" th:text="#{label.table.sort.status.asc}">
                                    status asc
                                </a>
                            </li>
                            <li>
                                <a th:href="@{${currentUrl}(page=1,size=${sizeParam},sortBy='status', asc=true)}"
                                   class="-text" th:text="#{label.table.sort.status.desc}">
                                    status desc
                                </a>
                            </li>
                            <li>
                                <a th:href="@{${currentUrl}(page=1,size=${sizeParam},sortBy='created', asc=false)}"
                                   class="-text" th:text="#{label.table.sort.date.asc}">
                                    date asc
                                </a>
                            </li>
                            <li>
                                <a th:href="@{${currentUrl}(page=1,size=${sizeParam},sortBy='created', asc=true)}"
                                   class="-text" th:text="#{label.table.sort.date.desc}">
                                    date desc
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul id="projects-collection" class="collection z-depth-1">
                                <li class="collection-item">
                                    <div class="row row-flex">
                                        <div class="col s6">
                                            <h6 class="collection-header m-0" th:text="#{label.table.givenGifts}">given
                                                gifts</h6>
                                        </div>
                                        <div class="col s2">
                                            <h6 class="collection-header m-0" th:text="#{label.table.status}">
                                                status</h6>
                                        </div>
                                        <div class="col s2">
                                            <h6 class="collection-header m-0" th:text="#{label.table.bags}">bags</h6>
                                        </div>
                                        <div class="col s2">
                                            <h6 class="collection-header m-0" th:text="#{label.table.foundation}">
                                                foundation</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="collection-item" th:each="donation : ${donations.content}">
                                    <div class="row row-flex">
                                        <div class="col s6">
                                            <p class="collections-title"
                                               th:text="|#{label.table.createDate}: ${donation.created}|">
                                                create date</p>
                                            <p class="collections-content"
                                               th:text="|#{label.table.pickUpDateTime}: ${donation.pickUpDate} ${donation.pickUpTime}|">
                                                pick up date</p>
                                            <p class="collections-content"
                                               th:text="|#{label.table.comment}: ${donation.pickUpComment}|">
                                                comment</p>
                                            <p class="collections-content"
                                               th:text="|#{label.table.category}: ${donation.categories}|">
                                                category</p>
                                        </div>
                                        <div class="col s2" th:switch="${donation.status}">
                                            <span th:case="${donation.status.MISSED}"
                                                  class="task-cat red darken-1" th:text="#{label.form.status.missed}">
                                                missed</span>
                                            <span th:case="${donation.status.RECEIVED}"
                                                  class="task-cat green darken-3"
                                                  th:text="#{label.form.status.received}">received</span>
                                        </div>
                                        <div class="col s2">
                                            <span th:if="${donation.quantity}==1" class="task-cat blue darken-2"
                                                  th:text="${donation.quantity}">N/A</span>
                                            <span th:if="${donation.quantity}==2" class="task-cat green darken-3"
                                                  th:text="${donation.quantity}">N/A</span>
                                            <span th:if="${donation.quantity}==3" class="task-cat amber darken-4"
                                                  th:text="${donation.quantity}">N/A</span>
                                            <span th:if="${donation.quantity}>3" class="task-cat red darken-1"
                                                  th:text="${donation.quantity}">N/A</span>
                                        </div>
                                        <div class="col s2">
                                            <p class="collections-title" th:text="${donation.institution.name}">
                                                foundation</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="pagination center" th:if="${donations.totalPages > 1}">
                        <li th:unless="${donations.number==0}">
                            <a th:href="@{${currentUrl}(page=${donations.number},size=${sizeParam},sortBy=${sortByParam}, asc=${ascParam})}">
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>
                        <li th:each="pageNumber: ${pageNumbers}"
                            th:class="${pageNumber==donations.number+1} ? active"
                            class="waves-effect">
                            <a th:href="@{${currentUrl}(page=${pageNumber},size=${sizeParam},sortBy=${sortByParam}, asc=${ascParam})}"
                               th:text="${pageNumber}">
                            </a>
                        </li>
                        <li th:unless="${donations.totalPages==donations.number+1}">
                            <a th:href="@{${currentUrl}(page=${donations.number+2},size=${sizeParam},sortBy=${sortByParam}, asc=${ascParam})}">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--work collections end-->
                <!-- //////////////////////////////////////////////////////////////////////////// -->
            </div>
            <!--end container-->
        </section>
        <!-- END CONTENT -->
    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<footer th:replace="fragments/footer::footer-main"></footer>
<!-- ====================================== Scripts ====================================== -->
<!-- jQuery Library -->
<script type="text/javascript" th:src="@{/vendors/jquery-3.2.1.min.js}"></script>
<!--materialize js-->
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<!--scrollbar-->
<script type="text/javascript" th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" th:src="@{/js/plugins.js}"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" th:src="@{/js/custom-script.js}"></script>
</body>
</html>
