<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Users | Admin Panel</title>
    <!-- Favicons-->
    <link rel="icon" th:href="@{/images/favicon/favicon-32x32.png}" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/favicon/apple-touch-icon-152x152.png}">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/admin-style.css}" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link th:href="@{/css/custom/custom.css}" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link th:href="@{/vendors/prism/prism.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet">
</head>

<body>
<!-- Start Page Loading -->
<th:block th:replace="admin/panel.html :: loader"/>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START HEADER -->
<th:block th:replace="admin/panel.html :: admin-header"/>
<!-- END HEADER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <th:block th:replace="admin/panel.html :: admin-left-sidebar-nav"/>
        <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
            <!--breadcrumbs start-->
            <div id="breadcrumbs-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col s10 m6 l6">
                            <h5 class="breadcrumbs-title">Użytkownicy</h5>
                            <ol class="breadcrumbs">
                                <li><a th:href="@{/admin}">Panel główny</a></li>
                                <li class="active">Użytkownicy</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs end-->
            <!--start container-->
            <div class="container">
                <div class="section">
                    <!--Institutions Table-->
                    <div class="divider"></div>
                    <div id="hoverable-table">
                        <div class="row">
                            <h4 class="header col s10 m6 l6">Lista zarejestrowanych użytkowników</h4>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <table class="highlight bordered">
                                    <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Aktywny</th>
                                        <th>Akcja</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${allUsers.empty}">
                                        <td colspan="3">
                                            Brak zarejestrowanych użytkowników
                                        </td>
                                    </tr>
                                    <tr th:each="user : ${allUsers}">
                                        <td><span th:text="${user.email}"></span></td>
                                        <td>
                                            <i th:if="${user.active}" class="material-icons green">check</i>
                                            <i th:if="${!user.active}" class="material-icons red">close</i>
                                        </td>
                                        <td>
                                            <a th:href="@{/admin/users/edit/{id}(id = ${user.id})}"
                                               class="btn-floating waves-effect waves-light green darken-1">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <a th:href="'#delete-action' + ${user.id}"
                                               class="btn-floating waves-effect waves-light red accent-2 modal-trigger">
                                                <i class="material-icons">delete</i>
                                            </a>
                                            <a th:href="'#block-action' + ${user.id}"
                                               class="btn-floating waves-effect waves-light amber darken-4 modal-trigger">
                                                <i class="material-icons">block</i>
                                            </a>
                                            <div th:id="'delete-action' + ${user.id}" class="modal">
                                                <div class="modal-content">
                                                    <h4>Usunąć?</h4>
                                                    <p>Napewno chcesz usunąć użytkownika: [[${user.email}]]</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button
                                                            class="modal-close waves-effect waves-green btn-flat">Nie
                                                    </button>
                                                    <a th:href="@{/admin/users/delete/{id}(id = ${user.id})}"
                                                       class="modal-close waves-effect waves-green btn-flat">Tak</a>
                                                </div>
                                            </div>
                                            <div th:id="'block-action' + ${user.id}" class="modal">
                                                <div class="modal-content">
                                                    <h4>Zablokować?</h4>
                                                    <p>Napewno chcesz zablokować użytkownika: [[${user.email}]]</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button
                                                            class="modal-close waves-effect waves-green btn-flat">Nie
                                                    </button>
                                                    <a th:href="@{/admin/users/block/{id}(id = ${user.id})}"
                                                       class="modal-close waves-effect waves-green btn-flat">Tak</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<th:block th:replace="admin/panel.html :: footer"/>
<!-- END FOOTER -->
<!-- ================================================
  Scripts
  ================================================ -->
<!-- jQuery Library -->
<script type="text/javascript" th:src="@{/vendors/jquery-3.2.1.min.js}"></script>
<!--materialize js-->
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<!--prism-->
<script type="text/javascript" th:src="@{/vendors/prism/prism.js}"></script>
<!--scrollbar-->
<script type="text/javascript" th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" th:src="@{/js/plugins.js}"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" th:src="@{/js/custom-script.js}"></script>
</body>

</html>
