<!DOCTYPE html>
<html lang="us" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<footer class="page-footer gradient-45deg-deep-orange-orange" th:fragment="footer-main">
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright ©
              <script type="text/javascript">
                document.write(new Date().getFullYear());
              </script>
                <a class="white-text text-lighten-2" href="https://github.com/yarikwest" target="_blank">ingoodhands</a>
            </span>
            <span class="right hide-on-small-only white-text">
                Design and Developed by
                <a class="white-text text-lighten-2" href="https://pixinvent.com/" target="_blank">PIXINVENT</a>
            </span>
        </div>
    </div>
</footer>

<footer class="page-footer gradient-45deg-blue-grey-blue" th:fragment="footer-admin">
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright ©
              <script type="text/javascript">
                document.write(new Date().getFullYear());
              </script>
                <a class="grey-text text-lighten-2" href="https://github.com/yarikwest" target="_blank">ingoodhands</a>
            </span>
            <span class="right hide-on-small-only grey-text">
                Design and Developed by
                <a class="grey-text text-lighten-2" href="https://pixinvent.com/" target="_blank">PIXINVENT</a>
            </span>
        </div>
    </div>
</footer>

</body>
</html>
