<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>left-sidebar-nav</title>
</head>
<body>
<aside id="left-sidebar-nav" th:fragment="left-sidebar-nav-main">
    <ul id="slide-out" class="side-nav leftside-navigation ">
        <li class="user-details cyan darken-2">
            <div class="row">
                <div class="col col s4 m4 l4" sec:authorize="isAuthenticated()">
                    <img th:src="@{/images/avatar/avatar-1.png}" alt="avatar"
                         class="dropdown-button profile-btn circle responsive-img valign profile-image cyan"
                         data-activates="profile-dropdown-nav">
                </div>
                <div class="col col s8 m8 l8">
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#"
                       data-activates="profile-dropdown-nav" sec:authorize="!isAuthenticated()">
                        <i class="material-icons">exit_to_app</i>Log In</a>
                    <ul th:replace="fragments/profile-dropdown::profile-dropdown(id='profile-dropdown-nav')"></ul>
                </div>
            </div>
        </li>
        <li class="no-padding">
            <ul class="collapsible" data-collapsible="accordion">
                <li class="bold">
                    <a th:href="@{/}" class="waves-effect waves-cyan">
                        <i class="material-icons">dashboard</i>
                        <span class="nav-text" th:text="#{label.header.nav.main}">main</span>
                    </a>
                </li>
                <li class="bold">
                    <a class="waves-effect waves-cyan" th:href="@{/#steps}" href="#steps">
                        <i class="material-icons">help_outline</i>
                        <span class="nav-text" th:text="#{label.header.nav.whatIs}">what is</span>
                    </a>
                </li>
                <li class="bold">
                    <a class="waves-effect waves-cyan" th:href="@{/#about-us}" href="#about-us">
                        <i class="material-icons">description</i>
                        <span class="nav-text" th:text="#{label.header.nav.about}">about us</span>
                    </a>
                </li>
                <li class="bold">
                    <a class="waves-effect waves-cyan" th:href="@{/#help}" href="#help">
                        <i class="material-icons">account_balance </i>
                        <span class="nav-text" th:text="#{label.header.nav.foundations}">foundations</span>
                    </a>
                </li>
                <li class="bold">
                    <a class="waves-effect waves-cyan" th:href="@{/donations}" href="form.html">
                        <i class="material-icons">card_giftcard </i>
                        <span class="nav-text" th:text="#{label.header.nav.giveGifts}">give gifts</span>
                    </a>
                </li>
                <li class="bold">
                    <a class="waves-effect waves-cyan" th:href="@{/#contact}" href="#contact">
                        <i class="material-icons">question_answer</i>
                        <span class="nav-text" th:text="#{label.header.nav.contact}">contact</span>
                    </a>
                </li>
                <li class="bold">
                    <a href="javascript:void(0);" class="waves-effect waves-cyan translation-button"
                       data-activates="translation-dropdown-nav">
                        <i th:classappend="|flag-icon-${#locale}|" class="flag-icon flag-icon-gb"></i>
                        <span class="nav-text" th:text="#{label.header.nav.language}">language</span>
                    </a>
                    <ul th:replace="fragments/translation-dropdown::translation-dropdown(id='translation-dropdown-nav')"></ul>
                </li>
            </ul>
            <div style="height: 85px"></div>
        </li>
    </ul>
    <a href="#" data-activates="slide-out"
       class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
        <i class="material-icons">menu</i>
    </a>
</aside>

<aside id="left-sidebar-nav" th:fragment="left-sidebar-nav-user">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="user-details cyan darken-2">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <img th:src="@{/images/avatar/avatar-1.png}" alt=""
                         class="circle responsive-img valign profile-image cyan">
                </div>
                <div class="col col s8 m8 l8">
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#"
                       data-activates="profile-dropdown-nav" sec:authentication="name">name<i
                            class="mdi-navigation-arrow-drop-down right"></i></a>
                    <p class="user-roal" th:text="#{label.page.user}">user</p>
                    <ul th:replace="fragments/profile-dropdown::profile-dropdown(id='profile-dropdown-nav')"></ul>
                </div>
            </div>
        </li>
        <li class="no-padding">
            <ul class="collapsible" data-collapsible="accordion">
                <li class="bold">
                    <a th:href="@{/user}" class="waves-effect waves-cyan">
                        <i class="material-icons">dashboard</i>
                        <span class="nav-text" th:text="#{label.sidebar.nav.mainPanel}">main panel</span>
                    </a>
                </li>
                <li class="bold">
                    <a th:href="@{/user/donations}" class="waves-effect waves-cyan">
                        <i class="material-icons">card_giftcard</i>
                        <span class="nav-text" th:text="#{label.sidebar.nav.givenGifts}">given gifts</span>
                    </a>
                </li>
                <li class="bold">
                    <a href="javascript:void(0);" class="waves-effect waves-cyan translation-button"
                       data-activates="translation-dropdown-nav">
                        <i th:classappend="|flag-icon-${#locale}|" class="flag-icon flag-icon-gb"></i>
                        <span class="nav-text" th:text="#{label.header.nav.language}">language</span>
                    </a>
                    <ul th:replace="fragments/translation-dropdown::translation-dropdown(id='translation-dropdown-nav')"></ul>
                </li>
            </ul>
            <div style="height: 85px"></div>
        </li>
    </ul>
    <a href="#" data-activates="slide-out"
       class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
        <i class="material-icons">menu</i>
    </a>
</aside>

<aside id="left-sidebar-nav" th:fragment="left-sidebar-nav-admin">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="user-details cyan darken-2">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <img th:src="@{/images/avatar/avatar-7.png}" alt=""
                         class="circle responsive-img valign profile-image cyan">
                </div>
                <div class="col col s8 m8 l8">
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#"
                       data-activates="profile-dropdown-nav" sec:authentication="name">
                        name<i class="mdi-navigation-arrow-drop-down right"></i>
                    </a>
                    <p class="user-roal" th:text="#{label.page.admin}">admin</p>
                    <ul th:replace="fragments/profile-dropdown::profile-dropdown(id='profile-dropdown-nav')"></ul>
                </div>
            </div>
        </li>
        <li class="no-padding">
            <ul class="collapsible" data-collapsible="accordion">
                <li class="bold">
                    <a th:href="@{/admin}" class="waves-effect waves-cyan">
                        <i class="material-icons">dashboard</i>
                        <span class="nav-text" th:text="#{label.sidebar.nav.mainPanel}">main panel</span>
                    </a>
                </li>
                <li class="bold">
                    <a th:href="@{/admin/institutions}" class="waves-effect waves-cyan">
                        <i class="material-icons">account_balance</i>
                        <span class="nav-text" th:text="#{label.sidebar.nav.foundations}">foundations</span>
                    </a>
                </li>
                <li class="bold">
                    <a th:href="@{/admin/admins}" class="waves-effect waves-cyan">
                        <i class="material-icons">assignment_ind</i>
                        <span class="nav-text" th:text="#{label.sidebar.nav.admins}">admins</span>
                    </a>
                </li>
                <li class="bold">
                    <a th:href="@{/admin/users}" class="waves-effect waves-cyan">
                        <i class="material-icons">people_outline</i>
                        <span class="nav-text" th:text="#{label.sidebar.nav.users}">users</span>
                    </a>
                </li>
                <li class="bold">
                    <a href="javascript:void(0);" class="waves-effect waves-cyan translation-button"
                       data-activates="translation-dropdown-nav">
                        <i th:classappend="|flag-icon-${#locale}|" class="flag-icon flag-icon-gb"></i>
                        <span class="nav-text" th:text="#{label.header.nav.language}">language</span>
                    </a>
                    <ul th:replace="fragments/translation-dropdown::translation-dropdown(id='translation-dropdown-nav')"></ul>
                </li>
            </ul>
            <div style="height: 85px"></div>
        </li>
    </ul>
    <a href="#" data-activates="slide-out"
       class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
        <i class="material-icons">menu</i>
    </a>
</aside>

</body>
</html>
