<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="#{label.page.title.giveGifts}">donations</title>
    <!-- Favicons-->
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For Windows Phone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <link rel="stylesheet" href="css/style.css"/>
    <!-- CORE CSS-->
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/admin-style.css}" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link th:href="@{/css/custom/custom.css}" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/vendors/flag-icon/css/flag-icon.min.css}" type="text/css" rel="stylesheet">
</head>
<body class="white">
<div th:replace="fragments/page-loader::loader"></div>
<header th:replace="fragments/header::header-main"></header>
<aside th:replace="fragments/left-sidebar-nav::left-sidebar-nav-main"></aside>
<!-- START MAIN -->
<main>
    <section class="header--form-page">
        <div class="slogan container container--90">
            <div class="slogan--item">
                <h1 th:utext="#{label.page.slogan2}">
                    Oddaj rzeczy, których już nie chcesz<br/>
                    <span class="uppercase">potrzebującym</span>
                </h1>

                <div class="slogan--steps">
                    <div class="slogan--steps-title" th:text="#{label.page.only4Steps}">Wystarczą 4 proste kroki:</div>
                    <ul class="slogan--steps-boxes">
                        <li>
                            <div><em>1</em><span th:text="#{label.page.step1Title}">Wybierz rzeczy</span></div>
                        </li>
                        <li>
                            <div><em>2</em><span th:text="#{label.page.step2Title}">Spakuj je w worki</span></div>
                        </li>
                        <li>
                            <div><em>3</em><span th:text="#{label.page.step3Title}">Wybierz fundację</span></div>
                        </li>
                        <li>
                            <div><em>4</em><span th:text="#{label.page.step4Title}">Zamów kuriera</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="form--steps">
        <div class="form--steps-instructions">
            <div class="form--steps-container">
                <h3 th:text="#{label.page.important}">Ważne!</h3>
                <p data-step="1" class="active" th:text="#{label.page.importantExplain1-2}">
                    Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                    wiedzieć komu najlepiej je przekazać.
                </p>
                <p data-step="2" th:text="#{label.page.importantExplain1-2}">
                    Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                    wiedzieć komu najlepiej je przekazać.
                </p>
                <p data-step="3" th:text="#{label.page.importantExplain3}">
                    Wybierz jedną, do której trafi Twoja przesyłka.
                </p>
                <p data-step="4" th:text="#{label.page.importantExplain4}">Podaj adres oraz termin odbioru rzeczy.</p>
            </div>
        </div>

        <div class="form--steps-container">
            <div class="form--steps-counter"><strong th:text="#{label.page.step}">Krok</strong> <span>1</span>/4</div>
            <div class="card-panel bg-opacity-8">
                <form action="form-confirmation.html" th:action="@{/donations}" th:object="${donation}" method="post">
                    <!-- STEP 1: class .active is switching steps -->
                    <div data-step="1" class="active">
                        <h3 th:if="${#fields.hasErrors()}" th:class="error" th:text="#{label.form.addGift.error}">
                            Uzupełnij wszystkie niezbędne danę
                        </h3>
                        <h3 th:text="#{label.form.addGiftStep1}">Zaznacz co chcesz oddać:</h3>
                        <span th:if="${#fields.hasErrors('categories')}" th:errors="*{categories}"
                              th:class="error"></span>

                        <div class="form-group form-group--checkbox" th:each="category: ${allCategories}">
                            <label>
                                <input type="checkbox" th:field="*{categories}" th:value="${category.id}"/>
                                <span class="checkbox"></span>
                                <span th:text="${category.name}" class="description">Lorem ipsum dolor</span>
                            </label>
                        </div>

                        <div class="form-group form-group--buttons">
                            <button type="button" class="btn next-step" th:text="#{label.form.next}">next</button>
                        </div>
                    </div>

                    <!-- STEP 2 -->
                    <div data-step="2">
                        <h3 th:text="#{label.form.addGiftStep2}">Podaj liczbę 60l worków, w które spakowałeś/aś
                            rzeczy:</h3>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">functions</i>
                                <input id="quantity" type="number" class="validate" step="1" min="1"
                                       th:field="*{quantity}">
                                <label for="quantity" class="center-align" th:text="#{label.form.number}"
                                       th:data-error="#{label.form.error.invalidNumber}">number</label>
                            </div>
                            <span class="error" th:each="err : ${#fields.errors('quantity')}"
                                  th:text="${err}">error</span>
                        </div>

                        <div class="form-group form-group--buttons">
                            <button type="button" class="btn prev-step" th:text="#{label.form.back}">Wstecz</button>
                            <button type="button" class="btn next-step" th:text="#{label.form.next}">Dalej</button>
                        </div>
                    </div>

                    <!-- STEP 3 -->
                    <div data-step="3">
                        <h3 th:text="#{label.form.addGiftStep3}">Wybierz organizacje, której chcesz pomóc:</h3>
                        <span th:if="${#fields.hasErrors('institution')}" th:errors="*{institution}"
                              th:class="error"></span>

                        <div class="form-group form-group--checkbox" th:each="institution: ${allInstitutions}">
                            <label>
                                <input type="radio" name="organization" value="old" th:field="*{institution}"
                                       th:value="${institution.id}"/>
                                <span class="checkbox radio"></span>
                                <span class="description">
                            <div class="title" th:text="|#{label.foundation.title}: ${institution.name}|">
                                institution</div>
                            <div class="subtitle" th:text="|#{label.foundation.mission}: ${institution.description}|">
                                mission</div>
                        </span>
                            </label>
                        </div>

                        <div class="form-group form-group--buttons">
                            <button type="button" class="btn prev-step" th:text="#{label.form.back}">Wstecz</button>
                            <button type="button" class="btn next-step" th:text="#{label.form.next}">Dalej</button>
                        </div>
                    </div>

                    <!-- STEP 4 -->
                    <div data-step="4">
                        <h3 th:text="#{label.form.addGiftStep4}">
                            Podaj adres oraz termin odbioru rzecz przez kuriera:
                        </h3>
                        <div class="col s12 m6 l4">
                            <h5 th:text="#{label.form.pickupAddress}">pickup address</h5>

                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">home</i>
                                <input id="street" type="text" class="validate" required th:field="*{street}">
                                <label for="street" class="center-align" th:text="#{label.form.street}"
                                       th:data-error="#{label.form.error.required}">required</label>
                            </div>
                            <span class="error" th:each="err : ${#fields.errors('street')}"
                                  th:text="${err}">error</span>

                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">location_city</i>
                                <input id="city" type="text" class="validate" required th:field="*{city}">
                                <label for="city" class="center-align" th:text="#{label.form.city}"
                                       th:data-error="#{label.form.error.required}">required</label>
                            </div>
                            <span class="error" th:each="err : ${#fields.errors('city')}"
                                  th:text="${err}">error</span>

                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">code</i>
                                <input id="zipCode" type="text" class="validate" required th:field="*{zipCode}">
                                <label for="zipCode" class="center-align" th:text="#{label.form.zipCode}"
                                       th:data-error="#{label.form.error.required}">required</label>
                            </div>
                            <span class="error" th:each="err : ${#fields.errors('zipCode')}"
                                  th:text="${err}">error</span>

                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">phone</i>
                                <input id="phone" type="text" class="validate" required th:field="*{phone}">
                                <label for="phone" class="center-align" th:text="#{label.form.phone}"
                                       th:data-error="#{label.form.error.required}">required</label>
                            </div>
                            <span class="error" th:each="err : ${#fields.errors('phone')}"
                                  th:text="${err}">error</span>
                        </div>
                        <div class="col s12 m6 l4">
                            <h5 th:text="#{label.form.pickupTime}">pickup time</h5>
                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">event</i>
                                <input id="pickUpDate" type="text" class="datepicker" th:field="*{pickUpDate}">
                                <label for="pickUpDate" class="center-align" th:text="#{label.form.date}">
                                    date</label>
                            </div>
                            <span class="error" th:each="err : ${#fields.errors('pickUpDate')}"
                                  th:text="${err}">error</span>

                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">access_time</i>
                                <input id="pickUpTime" type="text" class="timepicker" th:field="*{pickUpTime}">
                                <label for="pickUpTime" class="center-align" th:text="#{label.form.hour}">
                                    hour</label>
                            </div>
                            <span class="error" th:each="err : ${#fields.errors('pickUpTime')}"
                                  th:text="${err}">error</span>

                            <div class="input-field col s12">
                                <i class="material-icons prefix pt-2">note</i>
                                <textarea id="pickUpComment" type="text" class="validate materialize-textarea" required
                                          th:field="*{pickUpComment}"></textarea>
                                <label for="pickUpComment" class="center-align" th:text="#{label.form.notes}"
                                       th:data-error="#{label.form.error.required}">notes</label>
                            </div>
                            <span class="error" th:each="err : ${#fields.errors('pickUpComment')}"
                                  th:text="${err}">error</span>
                        </div>
                        <div class="form-group form-group--buttons">
                            <button type="button" class="btn prev-step" th:text="#{label.form.back}">Wstecz</button>
                            <button type="button" class="btn next-step" th:text="#{label.form.next}">Dalej</button>
                        </div>
                    </div>

                    <!-- STEP 5 -->
                    <div data-step="5">
                        <h3 th:text="#{label.form.addGiftSummary}">Podsumowanie Twojej darowizny</h3>

                        <div class="summary">
                            <div class="form-section">
                                <h5 th:text="#{label.form.summary}">summary</h5>
                                <ul>
                                    <li>
                                        <span class="icon icon-bag"></span>
                                        <span class="summary--text" id="summary-quantity"></span>
                                        <span th:text="#{label.page.bag}" style="padding-left: 10px;"></span>
                                    </li>

                                    <li>
                                        <span class="icon icon-hand"></span>
                                        <span class="summary--text" id="summary-institution"></span>
                                    </li>
                                </ul>
                            </div>

                            <div class="form-section form-section--columns">
                                <div class="form-section--column">
                                    <h5 th:text="#{label.form.pickupAddress}">pickup address</h5>
                                    <ul>
                                        <li id="summary-street"></li>
                                        <li id="summary-city"></li>
                                        <li id="summary-zipCode"></li>
                                        <li id="summary-phone"></li>
                                    </ul>
                                </div>

                                <div class="form-section--column">
                                    <h5 th:text="#{label.form.pickupTime}">pickup time</h5>
                                    <ul>
                                        <li id="summary-pickUpDate"></li>
                                        <li id="summary-pickUpTime"></li>
                                        <li id="summary-pickUpComment"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-group--buttons">
                            <button type="button" class="btn prev-step" th:text="#{label.form.back}">back</button>
                            <button type="submit" class="btn" th:text="#{label.form.submit}">submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <th:block th:replace="index.html::#contact"/>
</main>
<!-- END MAIN -->
<footer th:replace="fragments/footer::footer-main"></footer>
<!-- ====================================== Scripts ====================================== -->
<!--variables for internationalization datepicker and timepicker-->
<script type="text/javascript" th:inline="javascript">
    var okBtn = [[#{label.form.ok}]];
    var clearBtn = [[#{label.form.clear}]];
    var cancelBtn = [[#{label.form.cancel}]];
    var todayBtn = [[#{label.form.today}]];
    var labelMonthPrev = [[#{labelMonthPrev}]];
    var labelMonthNext = [[#{labelMonthNext}]];
    var monthsFull = [[#{monthsFull}]];
    var monthsShort = [[#{monthsShort}]];
    var weekdaysFull = [[#{weekdaysFull}]];
    var weekdaysShort = [[#{weekdaysShort}]];
    var weekdaysLetter = [[#{weekdaysLetter}]];
    var labelMonthSelect = [[#{labelMonthSelect}]];
    var labelYearSelect = [[#{labelYearSelect}]];
</script>
<!-- jQuery Library -->
<script type="text/javascript" th:src="@{/vendors/jquery-3.2.1.min.js}"></script>
<!--materialize js-->
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<!--scrollbar-->
<script type="text/javascript" th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" th:src="@{/js/plugins.js}"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" th:src="@{/js/custom-script.js}"></script>
<script th:src="@{js/app.js}"></script>
<script th:src="@{js/form-summary.js}"></script>
</body>
</html>
