<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="#{label.donations-success.title}">donations success</title>
    <!-- Favicons-->
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For Windows Phone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <link rel="stylesheet" href="css/style.css"/>
    <!-- CORE CSS-->
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/admin-style.css}" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link th:href="@{/css/custom/custom.css}" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/vendors/flag-icon/css/flag-icon.min.css}" type="text/css" rel="stylesheet">
</head>
<body class="white">
<div th:replace="fragments/page-loader::loader"></div>
<header th:replace="fragments/header::header-main"></header>
<aside th:replace="fragments/left-sidebar-nav::left-sidebar-nav-main"></aside>

<main>
    <section class="header--form-page">
        <div class="slogan container container--90">
            <div class="slogan--item">
                <h2 th:text="#{label.donations-success.message}">donations success message</h2>
            </div>
        </div>
    </section>

    <th:block th:replace="index.html::#contact"/>
</main>
<footer th:replace="fragments/footer::footer-main"></footer>
<!-- ====================================== Scripts ====================================== -->
<script type="text/javascript" th:inline="javascript">
    var okBtn = [[#{label.form.ok}]];
    var clearBtn = [[#{label.form.clear}]];
    var cancelBtn = [[#{label.form.cancel}]];
    var todayBtn = [[#{label.form.today}]];
    var labelMonthPrev = [[#{labelMonthPrev}]];
    var labelMonthNext = [[#{labelMonthNext}]];
    var monthsFull = [[#{monthsFull}]];
    var monthsShort = [[#{monthsShort}]];
    var weekdaysFull = [[#{weekdaysFull}]];
    var weekdaysShort = [[#{weekdaysShort}]];
    var weekdaysLetter = [[#{weekdaysLetter}]];
    var labelMonthSelect = [[#{labelMonthSelect}]];
    var labelYearSelect = [[#{labelYearSelect}]];
</script>
<!-- jQuery Library -->
<script type="text/javascript" th:src="@{/vendors/jquery-3.2.1.min.js}"></script>
<!--materialize js-->
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<!--scrollbar-->
<script type="text/javascript" th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" th:src="@{/js/plugins.js}"></script>
<script src="js/app.js"></script>
</body>
</html>
