<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Ingoodhands</title>
    <!-- Favicons-->
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For Windows Phone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <link rel="stylesheet" href="css/style.css"/>
    <!-- CORE CSS-->
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/admin-style.css}" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link th:href="@{/css/custom/custom.css}" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/vendors/flag-icon/css/flag-icon.min.css}" type="text/css" rel="stylesheet">
</head>
<body class="white">
<div th:replace="fragments/page-loader::loader"></div>
<header th:replace="fragments/header::header-main"></header>
<aside th:replace="fragments/left-sidebar-nav::left-sidebar-nav-main"></aside>
<!-- START MAIN -->
<main>
    <section class="header--main-page">
        <div class="slogan container container--90">
            <div class="slogan--item">
                <h1 th:utext="#{label.page.slogan}">
                    Zacznij pomagać!<br/>
                    Oddaj niechciane rzeczy w zaufane ręce
                </h1>
            </div>
        </div>
    </section>

    <section id="stats" class="stats">
        <div class="container container--85">
            <div class="stats--item">
                <em th:text="${sumOfAllPackage}">10</em>
                <h3 th:text="#{label.page.givenBags}">Oddanych worków</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum
                    tempora!</p>
            </div>

            <div class="stats--item">
                <em th:text="${countAllDonations}">5</em>
                <h3 th:text="#{label.page.givenGifts}">Przekazanych darów</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate
                    quas
                    quam.</p>
            </div>

        </div>
    </section>

    <section id="steps" class="steps">
        <h2 th:text="#{label.page.only4Steps}">Wystarczą 4 proste kroki</h2>

        <div class="steps--container row">
            <div class="steps--item col s12 m3">
                <span class="icon icon--hands"></span>
                <h3 th:text="#{label.page.step1Title}">Wybierz rzeczy</h3>
                <p th:text="#{label.page.step1Desc}">ubrania, zabawki, sprzęt i inne</p>
            </div>
            <div class="steps--item col s12 m3">
                <span class="icon icon--arrow"></span>
                <h3 th:text="#{label.page.step2Title}">Spakuj je</h3>
                <p th:text="#{label.page.step2Desc}">skorzystaj z worków na śmieci</p>
            </div>
            <div class="steps--item col s12 m3">
                <span class="icon icon--glasses"></span>
                <h3 th:text="#{label.page.step3Title}">Zdecyduj komu chcesz pomóc</h3>
                <p th:text="#{label.page.step3Desc}">wybierz zaufane miejsce</p>
            </div>
            <div class="steps--item col s12 m3">
                <span class="icon icon--courier"></span>
                <h3 th:text="#{label.page.step4Title}">Zamów kuriera</h3>
                <p th:text="#{label.page.step4Desc}">kurier przyjedzie w dogodnym terminie</p>
            </div>
        </div>

        <a sec:authorize="!isAuthenticated()" th:href="@{/registration}" href="#" th:text="#{label.form.signUp}"
           class="btn btn--large">Załóż konto</a>
    </section>

    <section id="about-us" class="about-us">
        <div class="about-us--text">
            <h2 th:text="#{label.page.aboutUs}">O nas</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt
                libero
                optio esse quisquam illo omnis.</p>
            <img src="images/signature.svg" class="about-us--text-signature" alt="Signature"/>
        </div>
        <div class="about-us--image"><img src="images/about-us.jpg" alt="People in circle"/></div>
    </section>

    <section id="help" class="help">
        <h2 th:text="#{label.page.whomHelpTitle}">Komu pomagamy?</h2>

        <!-- SLIDE 1 -->
        <div class="help--slides active" data-id="1">
            <p th:text="#{label.page.whomHelpDesc}">
                W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy.
                Możesz sprawdzić czym się zajmują.
            </p>

            <ul class="help--slides-items">
                <th:block th:each="institution, iterStat : ${institutions}">
                    <th:block th:if="${iterStat.odd}">
                        <li>
                            <div class="col">
                                <div class="title" th:text="|#{label.foundation.title} ${institution.name}|">
                                    Fundacja "Dbam o Zdrowie"
                                </div>
                                <div class="subtitle"
                                     th:text="|#{label.foundation.mission}: ${institution.description}|">
                                    Cel i misja: Pomoc dzieciom z ubogich rodzin.
                                </div>
                            </div>
                    </th:block>
                    <th:block th:if="${iterStat.even}">
                        <div class="col">
                            <div class="title" th:text="|#{label.foundation.title} ${institution.name}|">
                                Fundacja "A kogo"
                            </div>
                            <div class="subtitle" th:text="|#{label.foundation.mission}: ${institution.description}|">
                                Cel i misja: Pomoc wybudzaniu dzieci ze śpiączki.
                            </div>
                        </div>
                        </li>
                    </th:block>
                </th:block>
            </ul>
        </div>

    </section>

    <section id="contact">
        <div class="contact">
            <div id="basic-form" class="section">
                <div class="card-panel bg-opacity-8">
                    <h2 th:text="#{label.page.contactWithUs}">Skontaktuj się z nami</h2>
                    <h4 class="header2" th:text="#{label.form.contactFormTitle}">Formularz kontaktowy</h4>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input id="first_name" type="text">
                                    <label for="first_name" th:text="#{label.form.firstName}">Imie</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input id="last_name" type="text">
                                    <label for="last_name" th:text="#{label.form.lastName}">Nazwisko</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="message" class="materialize-textarea"></textarea>
                                    <label for="message" th:text="#{label.form.message}">Wiadomość</label>
                                </div>
                                <div class="input-field col s12">
                                    <button class="btn waves-effect waves-light right" type="submit">
                                        <span th:text="#{label.form.submit}">submit</span>
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-line">
            <div class="bottom-line--icons">
                <a href="#" class="social-icon social-icon--small"><img src="images/icon-facebook.svg"/></a>
                <a href="#" class="social-icon social-icon--small"><img src="images/icon-instagram.svg"/></a>
            </div>
        </div>
    </section>
</main>
<!-- END MAIN -->
<footer th:replace="fragments/footer::footer-main"></footer>
<!-- ====================================== Scripts ====================================== -->
<!-- jQuery Library -->
<script type="text/javascript" th:src="@{/vendors/jquery-3.2.1.min.js}"></script>
<!--materialize js-->
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<!--scrollbar-->
<script type="text/javascript" th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" th:src="@{/js/plugins.js}"></script>
<script src="js/app.js"></script>
</body>
</html>
