<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="#{label.resetPassword.title}">reset</title>
    <!-- CORE CSS-->
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/admin-style.css}" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link th:href="@{/css/custom/custom.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="css/errors.css"/>
</head>
<body class="forgot-bg">
<div class="container">
    <div id="forgot-password" class="row">
        <div class="col s12 m6 l4 z-depth-4 offset-m4 card-panel border-radius-6 forgot-card bg-opacity-8">
            <form class="login-form" th:action="@{/save-password}" th:object="${newPassword}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <h5 class="ml-4" th:text="#{label.updatePassword.title}">Change Password</h5>
                        <p th:if="${error}" class="error ml-4" th:text="${error}">error</p>
                        <p th:if="${#fields.hasErrors('password')}" class="error ml-4" th:errors="*{password}">error</p>
                        <p th:if="${#fields.hasErrors('global')}" class="error ml-4" th:errors="${newPassword}">error</p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-2">lock_outline</i>
                        <input id="password" type="password" class="validate" th:field="*{password}">
                        <label for="password" class="center-align"
                               th:text="#{label.form.password}"
                               th:data-error="#{invalidPassword.error.message}">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix pt-2">lock_outline</i>
                        <input id="matchingPassword" type="password"
                               th:field="*{matchingPassword}">
                        <label for="matchingPassword" class="center-align" th:text="#{label.form.matchingPassword}">Matching Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button th:text="#{label.form.submit}"
                                class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12 mb-1"
                                type="submit">submit
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ================================================Scripts================================================ -->
<!-- jQuery Library -->
<script type="text/javascript" th:src="@{/vendors/jquery-3.2.1.min.js}"></script>
<!--materialize js-->
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
</body>
</html>
