<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title th:text="|#{label.page.title.adminPanel} - #{label.page.title.main}|">admin panel - main</title>
    <!-- Favicons-->
    <link rel="icon" th:href="@{/images/favicon/favicon-32x32.png}" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/favicon/apple-touch-icon-152x152.png}">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/admin-style.css}" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link th:href="@{/css/custom/custom.css}" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link th:href="@{/vendors/prism/prism.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/vendors/flag-icon/css/flag-icon.min.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/page-loader::loader"></div>
<header th:replace="fragments/header::header-admin"></header>
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <aside th:replace="fragments/left-sidebar-nav::left-sidebar-nav-admin"></aside>
        <!-- START CONTENT -->
        <section id="content">
            <!--breadcrumbs start-->
            <div id="breadcrumbs-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col s10 m6 l6">
                            <h5 class="breadcrumbs-title" th:text="#{label.sidebar.nav.admins}">admins</h5>
                            <ol class="breadcrumbs">
                                <li><a th:href="@{/admin}" th:text="#{label.sidebar.nav.mainPanel}">main panel</a></li>
                                <li class="active" th:text="#{label.sidebar.nav.admins}">admins</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs end-->
            <!--start container-->
            <div class="container">
                <div class="section">
                    <!--Institutions Table-->
                    <div class="divider"></div>
                    <div id="hoverable-table">
                        <div class="row">
                            <h4 class="header col s10 m6 l6" th:text="#{label.page.listOfAdmins}">list of admins</h4>
                            <div class="col s2 m6 l6" style="margin-top: 17px;">
                                <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right"
                                   th:href="@{/admin/admins/add}">
                                    <i class="material-icons left">add</i>
                                    <span class="hide-on-small-onl" th:text="#{label.form.add}">add</span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <table class="highlight bordered">
                                    <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th th:text="#{label.table.action}">action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${allAdmins}">
                                        <td><span th:text="${user.email}"></span></td>
                                        <td>
                                            <a th:href="@{/admin/admins/edit/{id}(id = ${user.id})}"
                                               class="btn-floating waves-effect waves-light green darken-1">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <a th:href="'#delete-action' + ${user.id}"
                                               class="btn-floating waves-effect waves-light red accent-2 modal-trigger">
                                                <i class="material-icons">delete</i>
                                            </a>
                                            <div th:id="'delete-action' + ${user.id}" class="modal">
                                                <div class="modal-content">
                                                    <h4 th:text="#{label.form.deleteQuestion}">delete</h4>
                                                    <p th:text="|#{label.form.deleteAdminQuestion}: ${user.email}|">
                                                        delete admin</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button
                                                            class="modal-close waves-effect waves-green btn-flat"
                                                            th:text="#{label.form.no}">no
                                                    </button>
                                                    <a th:href="@{/admin/admins/delete/{id}(id = ${user.id})}"
                                                       class="modal-close waves-effect waves-green btn-flat"
                                                       th:text="#{label.form.yes}">yes
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<footer th:replace="fragments/footer::footer-admin"></footer>
<!-- ====================================== Scripts ====================================== -->
<!-- jQuery Library -->
<script type="text/javascript" th:src="@{/vendors/jquery-3.2.1.min.js}"></script>
<!--materialize js-->
<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
<!--prism-->
<script type="text/javascript" th:src="@{/vendors/prism/prism.js}"></script>
<!--scrollbar-->
<script type="text/javascript" th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" th:src="@{/js/plugins.js}"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" th:src="@{/js/custom-script.js}"></script>
</body>
</html>
